/* ========================================================== 
                            Resets
========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ========================================================== 
                            Fonts
========================================================== */


/* ========================================================== 
                Variables / Custom Properties
========================================================== */


/* ========================================================== 
                            Form
========================================================== */

body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

.wrapper {
    max-width: 90rem;
    background-color: white;
    margin: 0 auto;
    height: 100vh;
}

section {
    padding-top: 1rem;
    padding-inline: 20px;
    margin: 0 auto;
}

fieldset {
    padding-inline: 20px;
    padding-block: 1rem;
}

span, label {
    display: inline-block;
    padding-block: 0.2rem;
    width: 170px;
}

input[type="text"], input[type="email"], select {
    padding-inline: 5px;
    padding-block: 0.2rem;
    margin-block: 0.2rem;
}

label[for="male"], 
label[for="female"] {
    display: inline;
    padding-inline-end: 5px;
}

label[for="it"], 
label[for="design"], 
label[for="other"] {
    display: inline;
    padding-inline-end: 10px;
}

select[name="languages"] {
    overflow-y: hidden;
    padding-inline-end: 10px;
}

.flex {
    display: flex;
    align-items: center;
}

label[for="languages"] {
    width: 174px;
}

.flex p {
    align-self: flex-end;
}

input[type="submit"], input[type="reset"] {
    padding-inline: 15px;
    padding-block: 0.4rem;
    border-radius: 3px;
}
