/* ========================================================== 
                            Resets
========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ========================================================== 
                            Fonts
========================================================== */


/* ========================================================== 
                Variables / Custom Properties
========================================================== */


/* ========================================================== 
                            Form
========================================================== */

body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

.wrapper {
    max-width: 90rem;
    background-color: white;
    margin: 0 auto;
    height: 100vh;
}

section {
    padding-top: 1rem;
    padding-inline: 20px;
    margin: 0 auto;
}

form {
    width: max(50%, 800px);
}

fieldset {
    padding-inline: 20px;
    padding-block: 1rem;
}

.input__wrapper {
    display: flex;
    margin-bottom: 15px;
}

.input__wrapper label {
    flex-basis: 10rem;
}

.radio__wrapper input[type="radio"]{
    margin-right: 20px;
}

.preferred-languages__wrapper label {
    align-self: center;
}

.preferred-languages__wrapper span {
    align-self: flex-end;
}

select[name="languages"] {
    overflow-y: hidden;
}

.checkbox__wrapper label{
    margin-right: 20px;
}

.checkbox__wrapper input[type="checkbox"]{
    margin-right: 4px;
}

input:not(input[type='file']), select {
    padding: 5px;
}

input[type="submit"], input[type="reset"] {
    padding-inline: 15px;
    padding-block: 0.4rem;
    border-radius: 3px;
}
